<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{{title}}  | SealVo</title>
        <!-- Favicon links -->
        <link rel="icon" href="/images/logo.png" type="image/png">
        <link rel="apple-touch-icon" href="/images/logo.png">
        <meta name="msapplication-TileImage" content="/images/logo.png">
        <meta name="theme-color" content="#2575fc">
        
        <!-- Early Dark Mode Detection -->
        <script src="/js/theme-init.js" nonce="{{nonce}}"></script>
        
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/common/main.css">
        <!-- Dark Mode CSS -->
        <link rel="stylesheet" href="/css/common/dark-mode.css">
    </head>

    <body>
        <div class="app">
            {{> header}}
            <main class="content">
                {{{body}}}
            </main>
            {{> footer}}
        </div>

        
        <!-- App scripts -->
        <script src="/js/darkMode.js" nonce="{{nonce}}"></script>
        <script src="/js/home.js" nonce="{{nonce}}"></script>
        <script src="/js/aboutme.js" nonce="{{nonce}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js" nonce="{{nonce}}"></script>
    </body>
</html>